		<!-- Page content finish -->

	</ux-off-canvas>

<!-- Ractive container finish -->
</div>

<link rel="stylesheet" href="vendors/hljs-cdn-release/build/styles/github.min.css">
<script src="vendors/hljs-cdn-release/build/highlight.min.js"></script>

<script src="vendors/ractive-foundation/dist/lodash-compat.js"></script>
<script src="vendors/ractive/ractive.js"></script>
<!-- ractive-touch plugin is powered by hammerjs -->
<script src="vendors/ractive-foundation/dist/hammer.min.js"></script>
<script src="vendors/ractive-foundation/dist/ractive-touch.js"></script>
<script src="vendors/ractive-foundation/dist/ractive-events-tap.js"></script>
<script src="vendors/ractive-foundation/dist/ractivef.js"></script>
<script src="js/ractivef.initializer.js"></script>

</body>
</html>
