<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title><%= appname %></title>
		<script type="text/javascript" src="vendors/ractive/ractive.min.js"></script>
		<script type="text/javascript" src="vendors/ractive-foundation/dist/hammer.min.js"></script>
		<script type="text/javascript" src="vendors/ractive-foundation/dist/ractive-touch.js"></script>
		<script type="text/javascript" src="vendors/ractive-foundation/dist/ractive-events-tap.js"></script>
		<script type="text/javascript" src="vendors/ractive-foundation/dist/lodash-compat.js"></script>
		<script type="text/javascript" src="vendors/ractive-foundation/dist/ractivef.js"></script>
		<link rel="stylesheet" type="text/css" href="vendors/foundation/css/foundation.css">
		<link rel="stylesheet" type="text/css" href="components/components.css">
	</head>
	<body>
		<div id="container">
			<div class="row">
				<div class="col">
					{{> base}}
				</div>
			</div>
			{{> base}}
		</div>
		<script type="text/javascript" src="compiled/partials.js"></script>
		<script type="text/javascript" src="compiled/components.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>
